@import "tailwindcss";

@theme {
  /* colors */
  --color-lightHover: #fcf4ff;
  --color-darkHover: #2a004a;
  --color-darkTheme: #11001f;

  /* fonts */
  --font-Outfit: "Outfit", sans-serif;
  --font-Ovo: "Ovo", serif;

  /* box-shadow */
  --shadow-black: 4px 4px 0 #000;
  --shadow-white: 4px 4px 0 #fff;
}

@custom-variant dark (&:where(.dark, .dark *));

/* gridTemplateColumn */
.grid-cols-auto {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

* {
  font-family: Outfit;
}
